/* ----- Our LESS Variables ---- */
/* box top colors */
/* ~fuchsia */
/* ~ Aqua */
/* userbox left down */
/* was #ff0066 */
/* green */
/* was red */
/* general */
body {
  background: #ececec;
/*  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  text-align: left;
  font-family: 'Roboto', sans-serif !important;
  border: 0 none;
  margin: 0;
  padding: 0;
  color: #353944;
}
#main {
  z-index: 50;
  margin: 0;
  border: 0;
  padding: 0;
  overflow: hidden;
/*  width: 1250px;
  min-height: 450px;*/
  color: #353944;
  font-size: 15px;
  font-weight: 400;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.relative {
  position: relative;
}
.spacer300 {
  width: 300px;
  height: 300px;
}
/* top,left: timedisplay pink: #fb1dfe 	hellblau #1df3fe orange	#ff871e*/
.sidebar {
  position: fixed;
  padding: 10px 15px;
  overflow: hidden;
  top: 0px;
  left: 0px;
  width: 318px;
  height: 340px;
  border-top: 4px solid #fb1dfe;
  background: #323232;
  /* Fallback */
  background: rgba(50, 50, 50, 0.05);
}
.userbox {
  padding: 10px 15px;
/*  top: 360px;*/
  width: 318px;
  height: 360px;
  position: fixed ;
/*  border-top: 4px solid #ff871e;*/
}
.time {
  position: absolute;
  top: 0;
  left: 15px;
  font-size: 44px;
/*  font-family: "Source Sans Pro";*/
  font-weight: 200;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.time sup {
  font-size: 20px;
}
.date {
  position: absolute;
  top: 50px;
  left: 17px;
  font-size: 14px;
/*  font-family: "Source Sans Pro";*/
  font-weight: normal;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.social {
  position: absolute;
  top: 12px;
  left: 290px;
  width: 45px;
  display: inline-block;
}
.github-logo {
  /* background-image: url('GitHub-Mark-32px.png');     span class="github-logo"   */
/*  background: url('/img/GitHub-Mark-32px.png') no-repeat scroll;*/
  display: inline-block;
  height: 33px;
  width: 33px;
}
.time-hr {
  position: absolute;
  top: 74px;
  left: 17px;
  font-size: 0px;
  line-height: 0px;
  height: 3px;
  background: rgba(255, 255, 255, 0.4);
  width: 313px;
}
.top-header-chat {
  position: fixed;
  letter-spacing: -1px;
  /*font-family: "Source Sans Pro";*/
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  /*border-top: 4px solid #1df3fe;*/
  top: 0;
  left: 347px;
  width: 600px;
  height: 350px;
/*  background-image: url('/img/bg-top-header3.png');
  background-repeat: no-repeat;
  background-position: 0 0;*/
  z-index: 55;
}
.top-header-chat-left {
  top: 10px;
  left: 15px;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
}
.top-servermessage {
  top: 10px;
  /*left: 142px;*/
  font-weight: 400;
  font-size: 20px;
  /* warning-red  color:#bf2659; */
  letter-spacing: 0;
  position: absolute;
}
.top-header-chat-right {
  top: 4px;
  left: 595px;
  font-weight: 400;
  font-size: 30px;
  position: absolute;
}
/* TALK */
.chat-box-plain {
  position: absolute;
  top: 40px;
  left: 14px;
  width: 580px;
/*  height: 42px;*/
}
.chat-box-area-inset,
.chat-box-area {
  position: absolute;
  /*overflow: hidden;*/
  top: 60px;
  left: 0px;
  background: rgba(0, 0, 0, 0.1);
  width: 620px;
  height: 32px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 12px;
  -webkit-box-shadow: 1px 8px 20px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 8px 20px 2px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 1px 8px 20px 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 1px 8px 20px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 8px 20px 2px rgba(0, 0, 0, 0.1);
}
.chat-box-area-inset {
  top: 0;
  left: 0;
  border: 0;
  background: transparent;
  -webkit-box-shadow: inset 1px 8px 20px 2px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 1px 8px 20px 2px rgba(0, 0, 0, 0.8);
  -ms-box-shadow: inset 1px 8px 20px 2px rgba(0, 0, 0, 0.8);
  -o-box-shadow: inset 1px 8px 20px 2px rgba(0, 0, 0, 0.8);
  box-shadow: inset 1px 8px 20px 2px rgba(0, 0, 0, 0.8);
}
.chat-box-input {
  font-size: 14px;
    background: #fff;
    padding: 8px;
    margin: 0;
    box-shadow: -2px -2px 5px 1px #d0d0d0;
    width: 415px;
    position: absolute;
    bottom: 3px;
    right: 115px;
}
.chat-box-button {
  height: 20px;
  width: 65px;
    position: absolute;
    bottom: 0;
    right: 20px;
    border: 2px solid transparent;
    border-radius: 4px;
    background: linear-gradient(#fff, #d1d7e0);
    background-clip: padding-box;
    padding: 10px;
    box-shadow:1px 1px 6px #cecece;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    box-sizing: content-box;

    &:after {
        position: absolute;
        top: -2px; 
        bottom: -2px;
        left: -2px; 
        right: -2px;
        background: linear-gradient(#d1d7e0, #fff);
        content: '';
        z-index: -1;
        border-radius: 4px;
        box-shadow: 2px 2px 6px #cecece;
    }
}
.logout-button {
  cursor: pointer;
  outline: 0;
  position: relative;
  top: 65px;
  left: 650px;
  width: 98px;
  height: 26px;
  background: #fb1dfe no-repeat 66px 2px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 9px;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  box-shadow: 3px 3px 20px 0px rgba(88, 0, 0, 0.5);
  text-align: left;
  padding-left: 10px;
}
.chat-box-button:hover {
  background-color: rgba(100, 255, 255, 0.9);
}
.chat-box-button:active {
  background-color: rgba(255, 200, 200, 0.9);
}
/* UPDATES */
.update-area {
  position: absolute;
  top: 77px;
  left: 17px;
}
.update-item {
  margin: 5px 0;
  font-size: 14px;
  letter-spacing: 0px;
}
.update-time,
.chat-box-message-time {
  display: inline-block;
  width: 45px;
  font-weight: 700;
  font-size: 14px;
}
.update-line {
  font-size: 0px;
  line-height: 0px;
  height: 1px;
  background: rgba(255, 255, 255, 0.3);
  width: 300px;
  margin: 5px 0;
}
/* ---- User online ---- */
.onlineusers > div {
  /*/ background: lightgray;/*/
  letter-spacing: 0;
  float: left;
  height: 37px;
  width: 150px;
  position: relative;
  box-sizing: border-box;
  cursor: auto !important;
}
.circle-header14 {
  display: inline-block;
  left: 22px;
  border-radius: 15px;
  width: 23px;
  height: 23px;
  position: relative;
  left: 0;
  top: 0px;
  background: transparent url(/chat/public/img/users-icon14.png) no-repeat 5px 5px;
}
/* a chatuser in online modus */
.circle-header-norm {
  border: 2px solid rgba(255, 0, 0, 0.3);
}
/* a chatuser in PM modus  */
.circle-header-pm {
  border: 2px solid #ff871e;
  /* was red */
  cursor: pointer;
}
/* chatuser itself */
.circle-header-current {
  border: 2px solid #006600;
  /* here green */
}
/* <span> list of online users */
.online-user {
  position: relative;
  bottom: 8px;
  font-size: 13px;
  left: 4px;
}
.online-user.online{
    color: #006600;
}
.online-user.offline{
    color: red;
}
.online-user-pm {
  color: #ff871e;
}
.online-user-current {
  color: #006600;
}
/* chat messages */
.chat-box-output {
/*  height: auto;
   568px;  
  left: 347px;
  top: 150px;*/
  overflow-y: scroll;
  position: relative;
  height: 250px;
/*  width: 740px;*/
  padding: 0 10px 20px 15px;
/*  margin-bottom: 210px;*/
  word-wrap: break-word;
  /* css3 */
  /* border: 1px solid #cecece;*/
}
.chat-box-main {
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 1.0;
  margin: 10px 0 0;
  clear: both;
  min-height: 30px;
}
.chat-box-person {
  width: 730px;
  margin-top: 6px;
}
.chat-box-person-line {
  font-size: 0px;
  line-height: 0px;
  height: 1px;
  background: rgba(255, 255, 255, 0.3);
  width: 740px;
  margin: 10px 0;
}
.chat-box-message {
  float: left;
  font-size: 14px;
  line-height: 125%;
  font-weight: 500;
  width: 520px;
  margin: 4px 0 10px 0;
}
/*/<span>/*/
.chat-box-message-pre {
  color: orange;
  width: auto;
}
/*/<span>/*/
.chat-box-message-name {
  float: left;
  width: 130px;
  font-weight: 700;
}
.chat-box-message-time {
  position: absolute;
  top: 2px;
  right: 2px;
  text-align: right;
}
.text-orange {
  color: orange;
}
.cursor-pointer {
  cursor: pointer;
}
a {
  text-align: center;
  margin: 10px auto;
  width: 100%;
  color: #2c3e50;
  text-decoration: none;
}
