.wizards-container {

	position: relative;
	width: 100%;
	margin-top: 25px;
    border-radius: 2px;
    background: #f2f2f2;

    background: url("../assets/images/backgrounds/wizzard.png");
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);

	header {
		display: block;
		width: 100%;
		height: 55px;

		.button {
			margin: 5px 17px;
			&.related { float: left; }
			&.favorites { float: right; }
		}

		h2 {
			float: left;
			margin: 0;
    		line-height: 21px;
    		font-weight: 400;
    		@extend .RB4a;

    		width: 195px;
    		margin-top: 8px;

    		&.\000031 { color: $orange; }
    		&.\000032 { color: $blue3; }
		}
	}

	.tabbar {
		position: relative;
		height: 55px;

		.status-icon {
			width: 31px;
			height: 27px;

			position: absolute;
			top: 8px;
			left: 46px;

			&.\000030 { background: url(../assets/images/wizzard/ico_wizzard_error.png) no-repeat; }
			&.\000031 { background: url(../assets/images/wizzard/ico_wizzard_warning.png) no-repeat; }
			&.\000032 { background: url(../assets/images/wizzard/ico_wizzard_info.png) no-repeat; }
		}
	}

	.content {

		.top-line {
			width: 100%;
			height: 55px;
			padding: 10px 0;

			span {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
    			border-bottom: 1px solid #3b4654;
			    line-height: 25px;
			    margin: 0 2px;
			    margin-top: 12px;
			    width: 220px;
			}

			.button {
				float: right;
				width: 77px;
				border-radius: 3px 0 0 3px;
			}
		}

		p.red {
			margin: 15px;
			min-height: 42px;
			@extend .RB1a;
		}

		ol {
			margin: 25px 30px;
			@extend .RA1a;

			li {
				min-height: 130px;
				position: relative;

				span {
					min-height: 42px;
					display: block;
				}

				.button { margin-top: 13px; }
			}
		}

		.start-button {
			position: relative;
			width: 280px;
			height: 42px;
			margin: 40px 47px;

			.center {
				position: absolute;
				width: 0;
				left: 50%;
				bottom: 8px;
				transform: translateX(-50%);
				@extend .MA1a;
			}

			.time {
				position: absolute;
				bottom: 8px;
				right: 15px;
				
				opacity: 0.5;
				@extend .RA3c;
			}
		}
	}

	.connection-element {
		display: none;
        position: absolute;
        left: -87px;
        top: 54px;
        height: 46px;
        width: 145px;
        z-index: 30;
        background: #f2f2f2;
        border-top: 2px solid rgba(0,0,0,0.25);
        border-right: 2px solid rgba(0,0,0,0.25);
        border-bottom: 2px solid rgba(0,0,0,0.25);

        &.active { display: block; }

        &.row1 { top: 430px; }
        &.row2 { top: 560px; }

        .icon {
            width: 38px;
            height: 38px;

            left: 115px;
            top: 1px;
        }
    }
}
