//NAMED COLORS (ONLY USE INSIDE THIS FILE!!)

$blue1: #3b4654;
$blue2: #95bfd8;
$blue3: #045da5;
$blue4: #003254;
$red: #b53030;
$orange: #f27019;
$white: #ffffff;
$grey1: #f2f2f2;
$grey2: #d1d7e0;
$grey3: #3b4654;
$black: #000000;

//*** CONTENT SECTION *****************************************************************************************************//
$content-section_bg: $grey1;

//*** GRID ELEMENT *****************************************************************************************************//
$gridelement_bg_start: $white;
$gridelement_bg_end: $grey2;
$gridelement_sd: $black;
$trapezoid_bg: $grey2;
$grid_highlighted: $blue2;
$button_selected: $blue2;

//*** WIZARD ***/
$font_text: $grey3;
$font_headline: $red;
